h1{
color:gray;
text-align:center;
}
h2{
text-align:center;
color:168035;
}
p{
text-align:center;
background-color:D1EFDA;
outline-style: solid;
color:red;
}
body{
background-color:yellow;
}